{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>1</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/main.css">
	<script src="../../../static/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../../static/vendors/jquery-ui/jquery-ui.min.js"></script>
	 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style type="text/css">
	.out{
		height:768;
		width: 100%;
		display: inline-block;
	}
	.boxcenter{
		margin:0 auto;
	}
	.imgbox{
		width:414px;
		height:736px;
	}
	.imgbox.img{
		height: 100%;
		width: 100%;
	}
	.img{
		height: 736px;
	}
	</style>

</head>

<body >

<div class="container">
		<div class="row">
			<div class="out">
				<div class="imgbox boxcenter">
					<a href="/t2/2">
					<img class="img" src="../../static/t2/1.png">
					</a>
				</div>
			</div>
			<!-- <div class="col-12">
				<h3>Task 2</h3>
				<ul class="list-group">
				  The link <a> below should go to your first view
				  <li class="list-group-item"><a href="/t2/2">Start here</a></li>
				</ul>
			</div> -->
		</div>
	</div>
</body>
</html>