<!DOCTYPE html>
<html>
<head>
	<title>Task 1</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/main.css">
	<script src="../../../static/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../../static/vendors/jquery-ui/jquery-ui.min.js"></script>
	 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1a</h3>
			</div>
			<div class="col-6">
				<a href="a.html">
					<button class="btn btn-light float-right">
					Reset
				</button>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div id="circle" class="shape-container">

					<div class="p2-circle bg-purple1"></div>
					<div class="p2-circle bg-purple1"></div>
					<div class="p2-circle bg-purple1"></div>
					<div class="p2-circle bg-purple1"></div>
					<div class="p2-circle bg-purple1"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle" id="gradient-circle"></div>
				</div>
			</div>
		</div>
			
	</div>


<script type="text/javascript">


	// your solution here
	function myFunction() {
    document.getElementById("circle").reset();
}
	// 1) Clicking on a purple bubble hides all purple bubbles

$(".bg-purple").click(function(){
  $(".bg-purple").hide();
 
});

	// 2) Clicking on a green bubble hides all bubbles that are green OR blue

$(".bg-green").click(function(){
  $(".bg-green").addClass("hidden");
  $(".bg-blue").addClass("hidden");
 
});

    // 3) Clicking on an orange bordered bubble hides all bubbles that are bordered AND orange
$(".bg-orange.p2-border").click(function(){
  $(".bg-orange.p2-border").hide();
 
});

    // 4) Hovering over the gradient bubble hides the gradient bubble


</script>
</body>
</html>