

<!DOCTYPE html>
<html>
<head>
	<title>Task 3</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	
	<link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/main.css">
	<script src="../../../static/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../../static/vendors/jquery-ui/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js">
	 </script>

	<style type="text/css">

		.large-box {
			width: 200px;
			height: 200px;
			background: #f1f1f1;
			padding: 5px;
			margin: 0 10px 10px 0;
		}
		.small-box {
			height: 100px;
			width: 100px;
			background: grey;
			padding: 5px;
		}
		.darkblue{
		  background-color: #005FC0;
		}
		.red{
		  background-color: #FE484D;
		}
		.darkred{
		  background-color: #D90000;
		}
		.blue{
		  background-color: #41A5F9;
		}
		.darkblue{
		  background-color: #005FC0;
		}
	</style>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Task 3</h3>
				<div class="shape-container">
					<div id="origin-box" class="large-box">
						<div id="draggable" class="small-box text-light ui-widget-content">
						  <p>Box</p>
						</div>
					</div>

					<div id="droppable" class="large-box ">
					  <p>Dropzone #1</p>
					</div>
					 
					<div id="droppable2" class="large-box ui-droppable">
					  <p>Dropzone #2</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

	  // your solution here
	  //1) Drag the box over Dropzone #1
	 //4) Drop the box in Dropzone #1
  $( function() {
  	$( "#draggable" ).draggable({ revert: "invalid" });
    
    $( "#draggable" ).draggable();
	    $( "#droppable" ).droppable({
	      hoverClass: "darkred",
	      drop: function( event, ui ) {
	      	// $( "#draggable" ).draggable({ revert: "invalid" });
	        $( "#draggable" ).addClass( "red" )
	        $( this )
	        .addClass( "darkred" )
	        .find( "p" )
	        .html( "Dropped!" );
	      }
    });

	$( "#draggable" ).draggable();
	    $( "#droppable2" ).droppable({
      	  hoverClass: "darkblue",
	      drop: function( event, ui ) {
	      	
	      	$( "#draggable" ).addClass( "blue" )
	        $( this )
	        	.addClass( "darkblue" )
	        	.find( "p" )
	            .html( "Dropped!" );
	      }
	    });
  	} );
   
	  //2) Drag the box over Dropzone #2

	  //3) Drag the box to the side such that it reverts to the original position



	  //5) Drop the box in Dropzone #2
  </script>
</body>
</html>