<!DOCTYPE>

<html>
	<head>
		<title>Task 8</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
		
		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

		<link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../../../static/css/main.css">
		<script src="../../../static/vendors/jquery/jquery-3.3.1.min.js"></script>
		<script src="../../../static/vendors/jquery-ui/jquery-ui.min.js"></script>
	</head>
	<body>
	    <div class="container">
			<div class="row">
				<div class="col-12">
					<h3>Task 8</h3>

					  <li class="list-group-item"><a href="d.html">Task 8d</a></li>
					  <li class="list-group-item"><a href="e.html">Task 8e</a></li>
					  <li class="list-group-item"><a href="f.html">Task 8f</a></li>
					  <li class="list-group-item"><a href="g.html">Task 8g</a></li>
					  <li class="list-group-item"><a href="h.html">Task 8h</a></li>


					</ul>
				</div>
			</div>
		</div>
	</body>
</html>