<!DOCTYPE>

<html>
	<head>
		<title>Task 6b</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

		<link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../../../static/css/main.css">
		<script src="../../../static/vendors/jquery/jquery-3.3.1.min.js"></script>
		<script src="../../../static/vendors/jquery-ui/jquery-ui.min.js"></script>
		</head>
	<body>
		<!-- Your layout here -->
			<div class="row row-4 marginRow">
				<div class="col-6 bg-danger"></div>
				<div class="col-6 bg-warning"></div>
			</div>
			<div class="row row-4 marginRow">
				<div class="col-6 bg-success"></div>
				<div class="col-6 bg-primary"></div>
			</div>
			<div class="row row-4 marginRow">
				<div class="col-6 bg-dark"></div>
				<div class="col-6 bg-info"></div>
			
	</body>