
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-link{
  text-decoration: none !important;
}

.text-highlight{
  text-decoration: none;
  /* background-color: #F8EAD0; */
  color: black;
}
.text-main{
  color:#5B5C07;
}
.link-cmu{
  color:#a81a1a;
}

.text-introduction{
 font-size: 1.125rem;
}
.rounded-block-link:hover{
  z-index: 2;
  -webkit-transition: all 100ms ease-in-out;
  -webkit-transform: scale(1.03);
  -ms-transition: all 100ms ease-in-out;
  -ms-transform: scale(1.03);   
  -moz-transition: all 100ms ease-in-out;
  -moz-transform: scale(1.03);
  transition: all 100ms ease-in-out;
  transform: scale(1.03);
  /* background-color: black !important; */
  color: white !important;
}


@media only screen and (max-width: 576px) {
  .sm-logo {
    display: none !important;
  }
}
.job-container{
  width:100%;
  display: flex;
  flex-direction: row;
}
.job-company{
  width: 30%;
}
.job-description{
  width: 70%;
}
/* lg: 992 */
@media only screen and (max-width: 992px) { 

 }
 /* md: 768 */
@media only screen and (max-width: 768px) { 
  .job-container{
    display: flex;
    flex-direction: column;
  }
  .job-company{
    width: 100%;
  }
  .job-description{
    width: 100%;
  }
}
 /* sm: 576 */
 @media (max-width: 576px) { 

}

a.link-line {
  display: inline-block;
  position: relative;
  color: #408458;
  text-decoration: none;
}
a.link-line ::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.18s ease-out;
}
a.link-line :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link-dark-hover:hover{
  color: #408458 ;
}